In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [72]:
import pandas as pd
card = pd.read_csv('/content/drive/MyDrive/CARD-LANGCHAIN/data/card_data.csv')

## 1. 연회비 데이터 전처리

In [74]:
card['국내_연회비'] = card['Annual_fee'].apply(lambda x:0 if '국내' not in x else x)

In [75]:
card['국내_연회비']

0      국내 4만8천원, 해외 4만8천원, 가족겸용 없음
1               국내 1만2천원, 해외 1만2천원
2               국내 4만7천원, 해외 4만9천원
3       국내 1만5천원, 해외 1만5천원, 가족 5천원
4                   국내 1만원, 해외 1만원
                  ...
161      국내 10만원, 해외 10만원, 가족겸용 없음
162             국내 4만1천원, 해외 4만2천원
163               국내 1만5천원, 해외 2만원
164               국내전용 없음, 해외겸용 없음
165             국내 1만5천원, 해외 1만5천원
Name: 국내_연회비, Length: 166, dtype: object

In [76]:
card['국내_연회비'] = card['국내_연회비'].str.split(',').str[0]

In [16]:
card['해외_연회비'] = card['Annual_fee'].str.split(',').str[1]

In [90]:
card['Annual_fee']

0      국내 4만8천원, 해외 4만8천원, 가족겸용 없음
1               국내 1만2천원, 해외 1만2천원
2               국내 4만7천원, 해외 4만9천원
3       국내 1만5천원, 해외 1만5천원, 가족 5천원
4                   국내 1만원, 해외 1만원
                  ...
161      국내 10만원, 해외 10만원, 가족겸용 없음
162             국내 4만1천원, 해외 4만2천원
163               국내 1만5천원, 해외 2만원
164               국내전용 없음, 해외겸용 없음
165             국내 1만5천원, 해외 1만5천원
Name: Annual_fee, Length: 166, dtype: object

In [78]:
card['국내_연회비'] = card['국내_연회비'].str.replace('국내','')

In [79]:
card['국내_연회비'] = card['국내_연회비'].str.replace('전용 없음','0',regex=False)

In [80]:
card['국내_연회비'] = card['국내_연회비'].str.replace('만원','0000',regex=False)

In [81]:
card['국내_연회비'] = card['국내_연회비'].str.replace('만','',regex=False)

In [82]:
card['국내_연회비'] = card['국내_연회비'].str.replace('천원','000',regex=False)

In [88]:
card['국내_연회비'].fillna('0',inplace=True)

In [89]:
card.astype({'국내_연회비':'int'})

ValueError: invalid literal for int() with base 10: ' 19천9백원': Error while type casting for column '국내_연회비'

In [85]:
card['국내_연회비'].isnull().sum()

4

In [69]:
card['국내_연회비'][card['국내_연회비'] == '해외 18000']

16    해외 18000
Name: 국내_연회비, dtype: object

In [70]:
card['Annual_fee'].iloc[16]

'해외 1만8천원, 가족겸용 없음'

In [108]:
# 국내 금액 추출 함수
def extract_domestic_fee(fee_string):
    import re
    # 국내 금액만 추출
    match = re.search(r'국내 (?:(\d+)만)?(\d*)천?원?', fee_string)
    if match:
        # '만'과 '천' 단위 합산하여 숫자로 변환
        ten_thousand = int(match.group(1)) * 10000 if match.group(1) else 0
        thousand = int(match.group(2)) * 1000 if match.group(2) else 0
        return ten_thousand + thousand
    return 0  # 국내 금액이 없으면 0 반환

# 데이터프레임의 Annual_fee 열에서 국내 금액 추출
card['Domestic_Fee'] = card['Annual_fee'].apply(extract_domestic_fee)

In [110]:
def extracted_domestic_fee(fee_string):
  import re
  # 국내 금액만 추출
  match = re.search(r'국내 (?:(\d+)만)?(\d*)천?원?', fee_string)
  if match:
    # '만'과 '천'단위 합산해서 숫자로 변환
    ten_thousand = int(match.group(1)) * 10000 if match.group(1) else 0
    thousand = int(match.group(2)) * 1000 if match.group(2) else 0
    return ten_thousand + thousand
  return 0 # 국내 금액이 없으면 0 반환

card['Domestic_Fee'] = card['Annual_fee'].apply(extract_domestic_fee)

In [109]:
card['Domestic_Fee']

0       48000
1       12000
2       47000
3       15000
4       10000
        ...
161    100000
162     41000
163     15000
164         0
165     15000
Name: Domestic_Fee, Length: 166, dtype: int64

In [107]:
card['Annual_fee']

0      국내 4만8천원, 해외 4만8천원, 가족겸용 없음
1               국내 1만2천원, 해외 1만2천원
2               국내 4만7천원, 해외 4만9천원
3       국내 1만5천원, 해외 1만5천원, 가족 5천원
4                   국내 1만원, 해외 1만원
                  ...
161      국내 10만원, 해외 10만원, 가족겸용 없음
162             국내 4만1천원, 해외 4만2천원
163               국내 1만5천원, 해외 2만원
164               국내전용 없음, 해외겸용 없음
165             국내 1만5천원, 해외 1만5천원
Name: Annual_fee, Length: 166, dtype: object